Requirements and Planning

10x10 grid playing board
A player has 2 grids in view: their defensive and offensive grid.

The defensive grid shows your boats and the offensive grid shows where you have attacked.

The defensive grid stores pointers to a player's boat objects. The offensive grid stores GridStates (Hit, Miss, Sunk, Empty)

Ships are:
Carrier		5
Battleship	4
Destroyer	3
Submarine	3
Patrol Boat	2

Game Phases
1. Start Phase
	Waits for the user to enter anything on the command line and will display directions for player 1
	
2. Placing ships (ends when both players have placed each ship)
	Player 1 will place all of their ships first
	Player 2 will then place all of their ships
3. Game play
	- p1 begins by selecting empty location on offensive grid
	- Game updates the view
	- turn flips into p2 and repeat
	
4. End of Game (victory occurs for the player who has sunk all 5 of the opponent ships)

Boat Class:
A boat must track
	- length of boat
	- how many hits it has taken
	- sunk boolean
		make true when length = hits
		
Player Class:
	This avoids duplicating information for player 1 and player 2
	Keeps track of a players 2 boards and boats
	
Model Class:
	The input function will take any string input and decide what to do.
	This is the rule book of the game
	includes many helper methods
	
Controller
	This is where Main lives for now

